<div [@flyInOut]="'in'">
  <div class="container">
    <div class="row block-row">
      <div class="col-6">
        <span>
          <hr />
          User Table Page displays all the users in table form, above 'add user'
          button could be used to add new users.
        </span>
      </div>
      <div class="col-6">
          <img src="assets/imgs/user_table.png">
      </div>
    </div>
    <div class="row  block-row">
      <div class="col-6">
            <img src="assets/imgs/user_card.png">
      </div>
      <div class="col-6">
            <span>
              <hr />
              User Card Page displays all the users in card form, the new users
              added from user table page could also sync here.
            </span>
          </div>
    </div>
  </div>
</div>
