<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
      <div class="form-group">
          <label for="avatorSelector">Avator</label>
          <div class="input-group">
            <h3 class="panel-title pull-left">
                <i class="fas fa-smile"></i>
            </h3>
            <select class="form-control" id="avatorSelector" (change)="setAvator($event)">
                <option selected disabled>Choose...</option>
                <option value="icon1.svg">Banana</option>
                <option value="icon2.svg">Cap</option>
                <option value="icon3.svg">eggplant</option>
                <option value="icon4.svg">Icestick</option>
                <option value="icon5.svg">Icecream</option>
              </select>
          </div>
        </div>
    <div class="form-group">
      <label for="dateOfBirth">Name</label>
      <div class="input-group">
        <h3 class="panel-title pull-left">
          <i class="fa fa-user" aria-hidden="true"></i>
        </h3>
        <input
          #nameOfUser
          id="nameOfUser"
          class="form-control"
          placeholder="Name"
          name="nu"
          (change)="setName($event)"
        />
      </div>
    </div>
    <div class="form-group">
      <label for="dateOfBirth">Date of birth</label>
      <div class="input-group">
        <h3 class="panel-title pull-left">
          <i class="fas fa-calendar"></i>
        </h3>
        <input
          #dateOfBirth
          id="dateOfBirth"
          class="form-control"
          placeholder="yyyy-mm-dd"
          name="dp"
          ngbDatepicker
          #dp="ngbDatepicker"
          (change)="setDateOfBirth($event)"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary calendar"
            (click)="dp.toggle()"
            type="button"
          ></button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="createUser()"
  >
    Save
  </button>
</div>
