<!-- Navigation -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand col-6" [routerLink]="['/']">
    <i class="fa fa-home fa-2x" aria-hidden="true"></i>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse col-6" id="navbarSupportedContent">
    <ul class="nav navbar-nav">
      <li class="menu-item">
        <a [routerLink]="['/usersTable']" routerLinkActive="active"
          ><i class="fa fa-users fa-3x" aria-hidden="true"></i
        ></a>
      </li>

      <li class="menu-item">
        <a [routerLink]="['/usersCard']"
          ><i class="fas fa-id-card fa-3x"></i></a>
      </li>
    </ul>
  </div>
</nav>
<br />
<!-- Page Content -->
<div class="container">
  <router-outlet></router-outlet>
</div>
