
<div class="container" [@flyInOut]="'in'">
<button class="btn btn-primary" (click)="openModal()">
  <i class="fa fa-user-plus fa-2x" aria-hidden="true"></i>Add
</button>
<hr />
<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Avator</th>
      <th>Name</th>
      <th>Date Of Birth</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td><div class="avator" [ngStyle]="{'background-image': 'url(assets/imgs/'+ user.avator +')'}"></div></td>
      <td>{{ user.name }}</td>
      <td>{{ user.dateOfBirth | date }}</td>
    </tr>
  </tbody>
</table>
</div>
